# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Terraform sensitive/local files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Docker
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local Kubernetes files
*.secret.yaml